<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Page</title>

</head>

<body>
  <header class="masthead">
    <h1 class="masthead-heading">Hi</h1>
    <p class="masthead-intro">I'm Himanshu</p>
  </header>

  <section class="intro-section">
    <h1>About Me</h1>
    <p>Hello. You just landed on the about-me page.
      Hope you like it.</p>
  </section>

  <section>
    <h1>My Unordered List</h1>
    <ul>
      <li>Education</li>
      <li>Interests</li>
      <li>Fav Movies</li>
      <li>Music</li>
      <li>Everything else</li>
    </ul>
  </section>

  <%= link_to 'Home', root_path %>

  <footer>
    <p><bold>Himanshu Inc.</bold></p>
  </footer>

</body>
</html>
