<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>First Page</title>

</head>

<body>
  <header class="masthead">
    <h1 class="masthead-heading">Hi</h1>
    <p class="masthead-intro">I'm Himanshu</p>
  </header>

  <section class="intro-section">
    <h1>Introduction</h1>
    <p>Hello. I am writing this page for an assignment.
      Hope you like it.</p>
  </section>

  <section>
    <h1>My Unordered List</h1>
    <ul>
      <li>Item1</li>
      <li>Item2</li>
      <li>Item3</li>
      <li>Item4</li>
      <li>Item5</li>
    </ul>
  </section>

  <%= link_to 'About', about_path %>

  <footer>
    <p><bold>Himanshu Inc.</bold></p>
  </footer>

</body>
</html>
