<h1>This is the home page of my blog app</h1>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>

  <footer>
    <p><bold>Himanshu Inc.</bold></p>
  </footer>

</body>
</html>
